:root {
  --color-text: #fff;
  --color-bg: #333;
  --color-code-bg: #2d2d2d;
  --color-border: #dfdfdf;
  --color-link: #96bdcf;
  --header-bg: #191E29;
  --card-text: #fafafa;
  --card-sub-text: #dfdfdf;
  --card-bg: #00497a;
  --card-header-text: #fafafa;
  --card-header-bg: #2d2d2d;
}
:root[data-theme=light] {
  --color-text: #000;
  --color-button-text: #fff;
  --color-bg: #fff;
  --color-code-bg: #fafafa;
  --color-border: #eaeaea;
  --color-link: #0070f3;
  --header-bg: #fff;
}

html,
body {
  color:  var(--color-text) !important;;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

a {
  color: var(--color-link) !important;
  text-decoration:underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

// ここから追加
header {
  text-align: left;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  height:45px;
  background-color: var(--header-bg);
}

main {
  margin-top: 40px;
  top:10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  text-align: center;
  padding: 5px;
  height: 40px;
}

/* row data */
.ant-table-tbody > tr > td {
  height: 55px; 
  font-size: 12px;
  /* row tags */
  .ant-tag {
    font-size: 10px;
  }

}

.ant-table-tbody .renkei {
  color: var(--color-bg);
  opacity: 0.9;
}
